In [1]:
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath('../'))
# from src.load_transform_data import get_new_ethereum_ohlc, get_new_ethereum_ohlc_2
from src.hopsworks_connections import pull_data, upload_data, pull_model
import pandas_ta as ta
import requests
from datetime import datetime, timedelta
import time

# Print the current working directory
current_working_directory = os.getcwd()
print("Current Working Directory:", current_working_directory)

/Users/davydsadovskyy/GitBackedShit/crypto-prediction/venv_crypto_prediction/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Current Working Directory: /Users/davydsadovskyy/GitBackedShit/crypto-prediction/notebooks

In [2]:
eth_transformed = pull_data('eth_ohlc_transformed', 1, 'eth_ohlc_transformed_view', 1)
eth_transformed

Connected. Call `.close()` to terminate connection gracefully.

UserWarning: The installed hopsworks client version 3.4.4 may not be compatible with the connected Hopsworks backend version 3.7.1.
To ensure compatibility please install the latest bug fix release matching the minor version of your backend (3.7) by running 'pip install hopsworks==3.7.*'

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/582805
Connected. Call `.close()` to terminate connection gracefully.
Feature view already existed. Skip creation.
Finished: Reading data from Hopsworks, using ArrowFlight (1.42s)

VersionWarning: Incremented version to `11`.

,date,open,high,low,close,volume,volume_eth,market_cap,tmw_avg_high_close,tmw_percent_increase,...,october,november,december,monday,tuesday,wednesday,thursday,friday,saturday,sunday
806,2015-11-15 00:00:00+00:00,0.891200,0.921500,0.875000,0.906400,4.118000e+05,4.583650e+05,6.720000e+07,0.936850,0.032503,...,0,1,0,0,0,0,0,0,0,1
1225,2015-11-16 00:00:00+00:00,0.906200,0.944700,0.892000,0.929000,6.209000e+05,6.764420e+05,6.860000e+07,1.020000,0.089216,...,0,1,0,1,0,0,0,0,0,0
2432,2015-11-17 00:00:00+00:00,0.924900,1.030000,0.905800,1.010000,1.100000e+06,1.183690e+06,7.220000e+07,1.000000,-0.010000,...,0,1,0,0,1,0,0,0,0,0
1968,2015-11-18 00:00:00+00:00,0.990000,1.010000,0.940500,0.990000,6.811000e+05,6.919940e+05,7.360000e+07,0.982750,-0.007377,...,0,1,0,0,0,1,0,0,0,0
859,2015-11-19 00:00:00+00:00,0.988700,1.010000,0.937500,0.955500,4.435000e+05,4.558660e+05,7.280000e+07,0.940300,-0.016165,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2751,2024-04-18 00:00:00+00:00,2986.000000,3087.000000,2960.000000,3064.000000,1.350000e+10,4.453302e+06,3.706000e+11,3101.000000,0.011932,...,0,0,0,0,0,0,1,0,0,0
2793,2024-04-19 00:00:00+00:00,3061.000000,3117.000000,2879.000000,3085.000000,1.740000e+10,5.675824e+06,3.746000e+11,3160.500000,0.023889,...,0,0,0,0,0,0,0,1,0,0
2705,2024-04-20 00:00:00+00:00,3085.000000,3166.000000,3025.000000,3155.000000,8.900000e+09,2.884086e+06,3.776000e+11,3168.500000,0.004261,...,0,0,0,0,0,0,0,0,1,0
951,2024-04-21 00:00:00+00:00,3153.000000,3191.000000,3120.000000,3146.000000,8.200000e+09,2.603957e+06,3.867000e+11,3215.178412,0.021516,...,0,0,0,0,0,0,0,0,0,1
3062,2024-04-22 00:00:00+00:00,3146.652021,3232.067831,3134.798198,3198.288993,1.205290e+10,3.773099e+06,3.859755e+11,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0

In [6]:
eth_transformed2 = pull_data('eth_ohlc_transformed', 1, 'eth_ohlc_transformed_view', 1)
eth_transformed2

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

UserWarning: The installed hopsworks client version 3.4.4 may not be compatible with the connected Hopsworks backend version 3.7.1.
To ensure compatibility please install the latest bug fix release matching the minor version of your backend (3.7) by running 'pip install hopsworks==3.7.*'

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/582805
Connected. Call `.close()` to terminate connection gracefully.
Feature view already existed. Skip creation.
Finished: Reading data from Hopsworks, using ArrowFlight (1.56s)

VersionWarning: Incremented version to `17`.

,date,open,high,low,close,volume,volume_eth,market_cap,tmw_avg_high_close,tmw_percent_increase,...,october,november,december,monday,tuesday,wednesday,thursday,friday,saturday,sunday
806,2015-11-15 00:00:00+00:00,0.891200,0.921500,0.875000,0.906400,4.118000e+05,4.583650e+05,6.720000e+07,0.936850,0.032503,...,0,1,0,0,0,0,0,0,0,1
1225,2015-11-16 00:00:00+00:00,0.906200,0.944700,0.892000,0.929000,6.209000e+05,6.764420e+05,6.860000e+07,1.020000,0.089216,...,0,1,0,1,0,0,0,0,0,0
2432,2015-11-17 00:00:00+00:00,0.924900,1.030000,0.905800,1.010000,1.100000e+06,1.183690e+06,7.220000e+07,1.000000,-0.010000,...,0,1,0,0,1,0,0,0,0,0
1968,2015-11-18 00:00:00+00:00,0.990000,1.010000,0.940500,0.990000,6.811000e+05,6.919940e+05,7.360000e+07,0.982750,-0.007377,...,0,1,0,0,0,1,0,0,0,0
859,2015-11-19 00:00:00+00:00,0.988700,1.010000,0.937500,0.955500,4.435000e+05,4.558660e+05,7.280000e+07,0.940300,-0.016165,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793,2024-04-19 00:00:00+00:00,3061.000000,3117.000000,2879.000000,3085.000000,1.740000e+10,5.675824e+06,3.746000e+11,3160.500000,0.023889,...,0,0,0,0,0,0,0,1,0,0
2705,2024-04-20 00:00:00+00:00,3085.000000,3166.000000,3025.000000,3155.000000,8.900000e+09,2.884086e+06,3.776000e+11,3168.500000,0.004261,...,0,0,0,0,0,0,0,0,1,0
951,2024-04-21 00:00:00+00:00,3153.000000,3191.000000,3120.000000,3146.000000,8.200000e+09,2.603957e+06,3.867000e+11,3211.659807,0.020444,...,0,0,0,0,0,0,0,0,0,1
3062,2024-04-22 00:00:00+00:00,3191.656413,3223.550024,3185.969333,3199.769590,1.210134e+10,3.780800e+06,3.844669e+11,3203.014791,0.001013,...,0,0,0,1,0,0,0,0,0,0
3063,2024-04-23 00:00:00+00:00,3200.817053,3223.265627,3182.763954,3182.763954,1.115352e+10,3.481270e+06,3.897252e+11,NaN,NaN,...,0,0,0,0,1,0,0,0,0,0

In [7]:
eth_predictions2 = pull_data('eth_ohlc_predictions', 1, 'eth_ohlc_predictions', 1)
eth_predictions2

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

UserWarning: The installed hopsworks client version 3.4.4 may not be compatible with the connected Hopsworks backend version 3.7.1.
To ensure compatibility please install the latest bug fix release matching the minor version of your backend (3.7) by running 'pip install hopsworks==3.7.*'

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/582805
Connected. Call `.close()` to terminate connection gracefully.
Feature view already existed. Skip creation.
Finished: Reading data from Hopsworks, using ArrowFlight (0.55s)

VersionWarning: Incremented version to `8`.

,date,open,low,high,close,tmw_avg_high_close,tmw_percent_increase,pred_tmw_1_0_percent_increase_binary,tmw_1_0_percent_increase_binary,tmw_1_25_percent_increase_binary,tmw_1_5_percent_increase_binary,tmw_1_75_percent_increase_binary,tmw_2_0_percent_increase_binary,tmw_2_25_percent_increase_binary,tmw_2_5_percent_increase_binary,tmw_2_75_percent_increase_binary,tmw_3_0_percent_increase_binary,tmw_positive_percent_increase_binary
807,2015-11-15 00:00:00+00:00,0.891200,0.875000,0.921500,0.906400,0.936850,0.032503,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1226,2015-11-16 00:00:00+00:00,0.906200,0.892000,0.944700,0.929000,1.020000,0.089216,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2433,2015-11-17 00:00:00+00:00,0.924900,0.905800,1.030000,1.010000,1.000000,-0.010000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1969,2015-11-18 00:00:00+00:00,0.990000,0.940500,1.010000,0.990000,0.982750,-0.007377,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
860,2015-11-19 00:00:00+00:00,0.988700,0.937500,1.010000,0.955500,0.940300,-0.016165,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,2024-04-19 00:00:00+00:00,3061.000000,2879.000000,3117.000000,3085.000000,3160.500000,0.023889,0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
2706,2024-04-20 00:00:00+00:00,3085.000000,3025.000000,3166.000000,3155.000000,3168.500000,0.004261,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
952,2024-04-21 00:00:00+00:00,3153.000000,3120.000000,3191.000000,3146.000000,3215.178412,0.021516,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
644,2024-04-22 00:00:00+00:00,3146.652021,3134.798198,3232.067831,3198.288993,3203.014791,0.001013,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,1.0
3063,2024-04-23 00:00:00+00:00,3200.817053,3182.763954,3223.265627,3182.763954,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
eth_predictions = pull_data('eth_ohlc_predictions', 1, 'eth_ohlc_predictions', 1)
eth_predictions

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

UserWarning: The installed hopsworks client version 3.4.4 may not be compatible with the connected Hopsworks backend version 3.7.1.
To ensure compatibility please install the latest bug fix release matching the minor version of your backend (3.7) by running 'pip install hopsworks==3.7.*'

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/582805
Connected. Call `.close()` to terminate connection gracefully.
Feature view already existed. Skip creation.
Finished: Reading data from Hopsworks, using ArrowFlight (0.70s)

VersionWarning: Incremented version to `5`.

,date,open,low,high,close,tmw_avg_high_close,tmw_percent_increase,pred_tmw_1_0_percent_increase_binary,tmw_1_0_percent_increase_binary,tmw_1_25_percent_increase_binary,tmw_1_5_percent_increase_binary,tmw_1_75_percent_increase_binary,tmw_2_0_percent_increase_binary,tmw_2_25_percent_increase_binary,tmw_2_5_percent_increase_binary,tmw_2_75_percent_increase_binary,tmw_3_0_percent_increase_binary,tmw_positive_percent_increase_binary
807,2015-11-15 00:00:00+00:00,0.891200,0.875000,0.921500,0.906400,0.936850,0.032503,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1226,2015-11-16 00:00:00+00:00,0.906200,0.892000,0.944700,0.929000,1.020000,0.089216,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2433,2015-11-17 00:00:00+00:00,0.924900,0.905800,1.030000,1.010000,1.000000,-0.010000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1969,2015-11-18 00:00:00+00:00,0.990000,0.940500,1.010000,0.990000,0.982750,-0.007377,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
860,2015-11-19 00:00:00+00:00,0.988700,0.937500,1.010000,0.955500,0.940300,-0.016165,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2752,2024-04-18 00:00:00+00:00,2986.000000,2960.000000,3087.000000,3064.000000,3101.000000,0.011932,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2794,2024-04-19 00:00:00+00:00,3061.000000,2879.000000,3117.000000,3085.000000,3160.500000,0.023889,0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
2706,2024-04-20 00:00:00+00:00,3085.000000,3025.000000,3166.000000,3155.000000,3168.500000,0.004261,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
952,2024-04-21 00:00:00+00:00,3153.000000,3120.000000,3191.000000,3146.000000,3215.178412,0.021516,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
644,2024-04-22 00:00:00+00:00,3146.652021,3134.798198,3232.067831,3198.288993,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN